#loginDiv {
    position: relative;
    top: 10vh;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 2px solid #003E6B;
    width: 340px;
    height: 500px;
    background-color: whitesmoke;
}

#loginDiv h2 {
    text-align: center;
    font-family: Georgia;
    font-style: bold;
}

#loginForm {
    display: flex;
    justify-content: space-evenly;
    flex-flow: column wrap;
    align-items: center;
    height: 200px;
    width: 100%;
    font-family: Georgia;
}

#loginForm div {
    display: flex;
}

#loginForm label {
    width: 80px;
    height: 30px;
    margin-right: 15px;
}

#loginForm input {
    width: 200px;
    height: 30px;
    font-size: 1.2rem;
}

#loginName {
    position: relative;
    top: 25px;
    right: 100px;
    border-radius: 10px;
    border: 1px inset grey
}

#passwordLog {
    position: relative;
    top: 60px;
}

#loginPw {
    position: relative;
    top: 85px;
    right: 100px;
    border-radius: 10px;
    border: 1px inset grey
}

#login_button {
    position: relative;
    top: 115px;
    border-radius: 10px;
    font-family: Georgia;
}

#login_button:hover {
    cursor: grab;
    background-color: lightgray;
}