body {
    background: white;
    /*color: #515456;*/
    color: black;
    font-family: 'Josefin Sans', sans-serif;
}


/* .eventButton {
    position: relative;
    left: 60%;
    bottom: 25px;
    border-radius: 10px;
    height: 25px;
    border: 1px solid black;
} */


.eventButton:hover {
    cursor: grab;
    background-color: #003E6B;
    opacity: 1;
}


#wayFinding {
    margin-top: 0px;
    height: auto;
    text-indent: 2em;
    /*text-align: center;*/
    line-height: 1.6rem;
    background-color: #F7F7F7;
    border-radius: .5rem;
    border-style: solid;
    border-width: 0.5px;
    border-color: #e1e8f2;
    top: 20vh;
    margin-bottom: 50px;
}


/* #welcomeDiv {
    position: relative;
    font-size: 40px;
    left: 41%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    top: 5%
} */


/* Experimental */

#profileCard {
    position: fixed;
    /*width: 40vw;*/
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    /*height: 100vh;*/
    /*border-right: 1px solid rgba(0,0,0,.2);*/
/*
    position: relative;*/
    width: 35vw;
    margin: 2%;
    margin-top: 0px;
    height: 75vh;
    text-align: center;
    line-height: 1.6rem;
    background-color: #F7F7F7;
    border-radius: .5rem;
    border-style: solid;
    border-width: 0.5px;
    border-color: #e1e8f2;
    top: 20vh;
    left: 4vw;
}

#eventsPart{
    position: fixed;
 /*   top: 5%;
    max-width: 30%;
    margin: auto;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    border-left: 1px solid black;
    border-right: 1px solid black;
    left: 1%;*/

    width: 47vw;
    margin: 2%;
    margin-top: 0px;
    height: 75vh;
    text-indent: 2em;
    /*text-align: center;*/
    line-height: 1.6rem;
    background-color: #fff;
    top: 20vh;
    left: 44vw;
    overflow-y: scroll;
}

.featuredEvent {
    display: block;
}

#registeredContent {
    margin-top: 0px;
    height: auto;
    text-indent: 2em;
    line-height: 1.6rem;
    background-color: #F7F7F7;
    border-radius: .5rem;
    border-style: solid;
    border-width: 0.5px;
    border-color: #e1e8f2;
    top: 20vh;
    margin-bottom: 30px;
}

#featuredContent {
    margin-top: 0px;
    height: auto;
    text-indent: 2em;
    line-height: 1.6rem;
    background-color: #F7F7F7;
    border-radius: .5rem;
    border-style: solid;
    border-width: 0.5px;
    border-color: #e1e8f2;
    top: 20vh;
    margin-bottom: 30px;
}


#redeemButton {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    position: absolute;
    bottom: 2vh;
    left: 0px;
    border-radius: 0px;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

button:hover,
a:hover {
    opacity: 0.7;
}

#pointTotal {
    font-size: 22px;
}

#userEmail {
    font-size: 18px;
}

#userID {
    font-size: 18px;
}


#userProgram {
    font-size: 18px;
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}