#body {
    background-color: red;
}

#userContent {
    height: 100px;
    width: 300px;
    position: relative;
    left: 57%;
    margin-left: -500px;
    top: 10%;
    margin-top: -50px;
}

#profilePic {
    border-radius: 30px;
    height: 300px;
}

#featuredContent {
    position: relative;
    top: 2%;
    left: 60%
}


/* .eventButton {
    position: relative;
    left: 60%;
    bottom: 25px;
    border-radius: 10px;
    height: 25px;
    border: 1px solid black;
} */

#featuredEvent1 {
    position: relative;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    width: 25%
}

#featuredEvent2 {
    top: 120%;
    position: absolute;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    width: 25%
}

#featuredEvent3 {
    top: 210%;
    position: absolute;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    width: 25%
}

.eventButton:hover {
    cursor: grab;
    background-color: lightgray;
}

#welcomeDiv {
    position: relative;
    font-size: 40px;
    left: 45%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    top: 5%
}