body {
    background-color: #F7F7F7;
}


#pointsbox {
	position: relative;
	float: right;
	width: 25%;
	top: 5px;
}

#redeembox {
	position: relative;
	float: right;
	width: 50%;
}

#redeempointsbox {
	position: relative;
	left: 0px;
	right: 0px;
	margin: auto;
	width: 95vw;
	display: inline-block;
	padding-top: 30px;
	
}

#rewardsleft {

	width:40%; 
	float:left;
	padding-top: 20px;
	padding-left: 45px;
	padding-bottom: 50px;

	position: relative;
    margin: 2%;
    margin-top: 50px;
    height: auto;
    line-height: 1.6rem;
    border-radius: .5rem;
    border-style: solid;
    border-width: 0.5px;
    border-color: #e1e8f2;
    left: 4vw;
    background-color: white;
	

}

#rewardsright {
	width:36%; 
	float:right;
	padding-top: 20px;

	padding-left: 70px;
	padding-bottom: 50px;
	right: 4vw;

	position: relative;

	margin: 2%;
    margin-top: 50px;
    height: auto;
    line-height: 1.6rem;
    border-radius: .5rem;
    border-style: solid;
    border-width: 0.5px;
    border-color: #e1e8f2;
    background-color: white;
}


/*list*/

#historytb {
  border-collapse: collapse;
  width: 90%;
}
#historytb td{
  border: 1px solid #ddd;
  padding: 8px;
}
#historytb tr:hover {background-color: #f4f4f4;}


#rewardstb {
  border-collapse: collapse;
  width: 85%;
}
#rewardstb td{
  border: 1px solid #ddd;
  padding: 8px;
}
#rewardstb tr:hover {background-color: #f4f4f4;}



/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}