


/* 
 *  Staff Events Page
 */
.staffEventTitle:hover {
    background-color: #bbb;
    color:white;
}

 .participantDiv {
    display:none;
}

/* 
 * Rewards & Challenges
 */

 #studentDisplay {

 }

 #studentDisplayFormDiv {

 }

#studentInfo {

}

#dataDiv {

}

#listDiv {
    
}

 /* 
 * Staff Rewards Page
 */

 /* 
 * Staff Challenges Page
 */
 