#contentDiv {
    position: fixed;
    top: 14vh;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    left: 0px;
}

body {
    /*background-color: #E5E5E5;*/
    background-color: #fff;
    overflow: hidden;
    color: #515456;
    font-family: Lato, 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    font-weight: 400;
    line-height: 1.4rem;
}

button {
    background-color: #006fbf;
    color: white;
    border-radius: .3rem;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    margin: 0 .75rem 0 0;
    user-select: none;
    vertical-align: middle;
    width: auto;
    box-shadow: 0 0 0 4px transparent;
    font-family: inherit;
    padding: .55rem 1.5rem;
    font-size: .7rem;
    line-height: 1rem;
    font-weight: 700;
    letter-spacing: .2px;
}

.submitButton {
    background-color: #006fbf;
    color: white;
    border-radius: .3rem;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    margin: 0 .75rem 0 0;
    user-select: none;
    vertical-align: middle;
    width: auto;
    box-shadow: 0 0 0 4px transparent;
    font-family: inherit;
    padding: .55rem 1.5rem;
    font-size: .7rem;
    line-height: 1rem;
    font-weight: 700;
    letter-spacing: .2px;
}

.inputbox {
    border-radius: 0.3rem;
    border-style: solid;
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    min-width: calc(2rem + 1em);
    vertical-align: middle;
    transition: background-color 0.5s ease, border-color 0.5s ease;
    color: #565a5c;
    font-size: 0.8rem;
    font-weight: 400;
    letter-spacing: 0.02rem;
    line-height: 1.2rem;
    min-height: calc(2rem + 2px);
    background-color: #ffffff;
    border-color: #d3d9e3;
    border-width: 1px;
    box-shadow: inset 0 2px 0 0 rgba(185, 194, 208, .2);
    padding: 0.4rem 0.75rem;
    height: auto;
}

// {{!-- !-- Header Page -- --}}
#loginHeader {
    background-color: #003E6B;
    position: fixed;
    top: 0;
    left: 0;
    height: 16vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
}

#loginHeader img {
    position: relative;
    width: auto;
    height: 100%;
}

#loginHeader h1 {
    color: white;
    font-size: 2.4rem;
    height: 100%;
    width: auto;
    position: relative;
    padding-left: 20px;
}

#Header {
    background-color: #003E6B;
    position: fixed;
    top: 0;
    left: 0;
    height: 14vh;
    width: 100vw;
}

#bannerDiv {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: row;
}

#bannerDiv img {
    position: relative;
    width: auto;
    height: 100%;
}

#bannerDiv h1 {
    color: white;
    font-size: 2.4rem;
    height: 100%;
    width: auto;
    position: relative;
    margin: 30px;
    margin-bottom: 40px;
}

#navDiv {
    position: absolute;
    bottom: 0;
    right: 50px;
    display: flex;
    flex-direction: row;
    height: 20%;
    width: 30%;
    justify-content: flex-end;
    align-items: flex-end;
}

#navDiv input {
    width: auto;
    height: 30px;
    color: white;
    background-color: #003E6B;
    font-size: 1.7rem;
    margin: 15px;
    border: none;
}

#navDiv input:hover {
    width: auto;
    height: 30px;
    color: white;
    background-color: #003E6B;
    font-size: 1.7rem;
    margin: 15px;
    opacity: 0.8;
    transform: scale(1.2, 1.2);
}

// {{!-- !-- Login Page -- --}}
#loginDiv {
    position: relative;

    top: 10vh;
    left: 0;
    right: 0;
    A bottom: 0;
    margin: auto;
    border: 2px solid #003E6B;
    width: 340px;
    height: 300px;
    background-color: aliceblue;
}

#loginDiv h2 {
    text-align: center;
}

#loginForm {
    display: flex;
    justify-content: space-evenly;
    flex-flow: column wrap;
    align-items: center;
    height: 200px;
    width: 100%;
}

#loginForm div {
    display: flex;
}

#loginForm label {
    width: 70px;
    height: 30px;
    margin-right: 15px;
}

#loginForm input {
    width: 100px height: 30px;
    font-size: 1.2rem;
}

// {{!-- !-- Events Page -- --}}
#closeBut {
    float: right;
    position: relative;
    height: auto;
    width: ;
}

#boxDiv {
    width: 32vw;
    height: 30vh;
    position: absolute;
    top: 0px;
    background-color: gray;
}

#cal {
    width: 32vw;
    position: absolute;
    top: 500px;
}

#boxTop {
    position: relative;
    width: 100%;
    height: 55%;
}

#eventPic {
    float: left;
    width: 50%;
    height: auto;
    position: relative;
    padding: 2%;
}

#infoTop {
    float: right;
    position: relative;
    width: 35%;
    height: auto;
    padding: 3%;
}

#boxBot {
    width: 100%;
    height: 20%;
    position: relative;
    padding: 10px;
}

#blocks {
    position: absolute;
    width: 100vw; 
    height: 100vh;
    top: 19vh;
    left: 0px;
    right: 0px;
    margin: auto;

}

.blocks:hover {
    border-radius: .3rem;
    border-style: solid;
    border-width: 1px;
    border-color: #d3d9e3;
    border-width: 1px;
    box-shadow: inset 0 2px 0 0 rgba(185, 194, 208, .2);
}

.blocks {
    position: relative;
    width: 25%;
    margin: 50px;
    margin-bottom: 0px;
    margin-top: 0px;
    height: auto;
    text-align: center;
    display: inline-block;
    line-height: 1.6rem;


}

#blocks div {
    display: inline-block;
    box-sizing: border-box;
    padding: 5px;

}


/*get rid of overflow and change width back*/
.eventboxdate{
    position: relative;
    top: 20px;
    width: 20%;
    height: 60px;
    margin-right: 2%;
    float: left;
    overflow: hidden;

}

.eventboxinfo{
    position: relative;
    width: 77%;
    height: 400px;
    overflow: hidden;
}

.searchbox {
    position: absolute; 
    left: 42%; 
    top: 3vh;
    display: inline-block;
}