<header id="Header">
        <div id="bannerDiv">
            <img src="/logo/logo1.png" alt="Student Association logo" id="salogo" style="margin-left: 7px; height:100%;"/>
            <h1>Admin</h1>
        </div>
        <div id="navDiv">
            <form action="/admin" class="">
                <input class="" id="adminNav" action="/admin" type="submit" method="get"
                    value="Events" />
            </form>
            <form action="/adminRewards">
                <input class="" id="adminRewardNav" action="/adminRewards" type="submit" method="get"
                    value="Rewards" />
            </form>
            <form action="/logout" class="">
                <input class="" id="logOut" action="/logout" type="submit" method="get"
                    value="Log out" />
            </form>
        </div>
    </header>