<header id="Header">
        <div id="bannerDiv">
            <img src= alt="BCIT logo" id="logo"/>
            <h1>Test</h1>
        </div>
        <div id="navDiv">
            <form action="/main" class="">
                <input class="" id="main" action="/main" type="submit" method="get"
                    value="home" />
            </form>
            <form action="/events" class="">
                <input class="" id="events" action="/events" type="submit" method="get"
                    value="events" />
            </form>
            <form action="/rewards" class="">
                <input class="" id="rewards" action="/rewards" type="submit" method="get"
                    value="rewards" />
            </form>

            <form action="/admin" class="">
                <input class="" id="admin" action="/admin" type="submit" method="get"
                    value="admin" />
            </form>
            
        </div>
    </header>