


<header id="Header">
        <div id="bannerDiv">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ4RmvrxyMD6HzL1VaLEeFFPWsgYSCjhp1nSbYfspJk8AGiHctN" alt="BCIT logo" id="logo"/>
            <img src="https://pbs.twimg.com/profile_images/1030470088007139329/tOjeZ_oz_400x400.jpg"/>
            <h1>KICK START</h1>
        </div>
        <div id="navDiv">
            <form action="/main" class="menubut">
                <input class="navbuttons" id="main" action="/main" type="submit" method="get"
                    value="Home" style="background-color:black;  font-family: 'Josefin Sans', sans-serif; font-size: 31px;"  />
            </form>
            <form action="/events" class="menubut">
                <input class="navbuttons" id="events" action="/events" type="submit" method="get"
                    value="Events"  style="background-color:black;  font-family: 'Josefin Sans', sans-serif; font-size: 31px; " />
            </form>
            <form action="/rewards" class="menubut">
                <input class="navbuttons" id="rewards" action="/rewards" type="submit" method="get"
                    value="Rewards" style="background-color:black;  font-family: 'Josefin Sans', sans-serif; font-size: 31px;" />
            </form>
            <form action="/logout" class="menubut">
                <input class="navbuttons" id="logOut" action="/logout" type="submit" method="get"
                    value="Log out" style="background-color:black;  font-family: 'Josefin Sans', sans-serif; font-size: 31px; z-index: -1;"  />
            </form>
            
        </div>
    </header>