<header id="Header">
        <div id="bannerDiv">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ4RmvrxyMD6HzL1VaLEeFFPWsgYSCjhp1nSbYfspJk8AGiHctN" alt="BCIT logo" id="logo"/>
            <h1>KICK START</h1>
        </div>
        <div id="navDiv">
            <form action="/main" class="menubut">
                <input class="" id="main" action="/main" type="submit" method="get"
                    value="Home" />
            </form>
            <form action="/events" class="menubut">
                <input class="" id="events" action="/events" type="submit" method="get"
                    value="Events" />
            </form>
            <form action="/rewards" class="menubut">
                <input class="" id="rewards" action="/rewards" type="submit" method="get"
                    value="Rewards" />
            </form>
            <form action="/logout" class="menubut">
                <input class="" id="logOut" action="/logout" type="submit" method="get"
                    value="Log out" />
            </form>
            
        </div>
    </header>