


<header id="Header">
        <div id="bannerDiv">
            <img src="/logo/logo1.png" alt="Student Association logo" id="salogo" style="margin-left: 7px; height:100%;"/>
            <h1 id="KS">KICK START</h1>
        </div>
        <div id="navDiv">
            <form action="/main" class="menubut">
                <input class="navbuttons" id="main" action="/main" type="submit" method="get"
                    value="Home" style="font-family: 'Josefin Sans', sans-serif; font-size: 31px;"  />
            </form>
            <form action="/events" class="menubut">
                <input class="navbuttons" id="events" action="/events" type="submit" method="get"
                    value="Events"  style="font-family: 'Josefin Sans', sans-serif; font-size: 31px; " />
            </form>
            <form action="/rewards" class="menubut">
                <input class="navbuttons" id="rewards" action="/rewards" type="submit" method="get"
                    value="Rewards" style="font-family: 'Josefin Sans', sans-serif; font-size: 31px;" />
            </form>
            <form action="/logout" class="menubut">
                <input class="navbuttons" id="logOut" action="/logout" type="submit" method="get"
                    value="Log out" style="font-family: 'Josefin Sans', sans-serif; font-size: 31px; z-index: -1;"  />
            </form>
            
        </div>
    </header>