<header id="Header">
        <div id="bannerDiv">
            <img src="../partials/logo1.png" alt="Student Association logo" id="salogo" style="margin-left: 7px; height:100%;"/>
            <h1>Staff</h1>
        </div>
        <div id="navDiv">
            <form action="/staff/events" method="get">
                <input class="" id="staffEventNav"  type="submit" value="Events" />
            </form>
            <form action="/staff/rewards" method="get">
                <input class="" id="staffRewardNav" type="submit" value="Rewards" />
            </form>
            <form action="/staff/challenges" method="get">
                <input class="" id="staffChallengeNav"  type="submit" value="Challenges" />
            </form>
            <form action="/logout" method="get">
                <input class="" id="logOut" action="/logout" type="submit" method="get" value="Log out" />
            </form>
        </div>
</header>