<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin Events</title>
    <link href='/style.css' rel='stylesheet' type='text/css' />
    <link href='/admin.css' rel='stylesheet' type='text/css' />
</head>

<body>
    {{> adminNav}}
    <div id="adminEventDeletePopupDiv">
        <h2>Are you sure you want to delete the following reward?</h2>
        <p><Strong>Title:   </Strong><span id="deletePopupTitle"></span></p>
        <p><Strong>Points:   </Strong><span id="deletePopupPoints"></span></p>
        <p><Strong>Description:   </Strong><span id="deletePopupDesc"></span></p>
        <button class="deletePopupBtn" onclick="deleteConfirmed()">Yes</button>
        <button class="deletePopupBtn" onclick="closePopup()">No</button>
        <button id="deletePopupCloseBtn" onclick="closePopup()">X</button>
    </div>
    <div id="contentDiv">
            <div id="formDivWrap">
                <div id="formDiv">
                    <h2 id="inputH2">New Reward<br><br></h2>
                    <form action="/adminRewards" enctype="application/json" method="POST" id="adminRewardForm">
                        {{!-- make a hidden value to let server know its editing or adding --}}
                        <input id="isEdit" style="display:none" name="isEdit" type="text" value="false">
                        <div class="adminRewardFormDiv">
                            <label class="floatLabel" for="RewardIdInput">ID</label>
                            <input class="fieldInput" name="RewardIdInput" id="RewardIdInput" type="text">
                        </div>
                        <div class="adminRewardFormDiv">
                            <label class="floatLabel" for="RewardTitleInput">Reward Name</label>
                            <input class="fieldInput" name="RewardTitleInput" id="RewardTitleInput" type="text">
                        </div>
                        <div class="adminRewardFormDiv">
                            <label class="floatLabel" for="pointsInput">Points</label>
                            <input class="fieldInput" name="pointsInput" id="pointsInput" type="number">
                        </div>
                        <div class="adminRewardFormDiv">
                            <label class="floatLabel" for="descriptionInput">Description</label>
                            <input class="fieldInput" name="descInput" id="descriptionInput" type="textarea">
                        </div>
                        <div class="adminRewardFormDiv">
                            <label class="floatLabel" for="RewardManagerInput">Manager ID</label>
                            <input class="fieldInput" name="RewardManagerInput" id="RewardManagerInput" type="text">
                        </div>
                        <br><input class="submitButton" type="submit">
                    </form>
                </div>
            </div>

            <div id="adminRewardDiv">
                <h2>Current Rewards<br><br></h2>
                <table id="adminRewardtb">
                    {{{renderedAdminRewards}}}
                </table>
            </div>
    </div>
<script src="/adminRewards.js"></script>

</body>

</html>