<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin Events</title>
    {{> styles}}
</head>

<body>
    {{> navigation}}

    <div id="contentDiv">
        <div id="formDiv">
            <h2>New Event</h2>
            <form action="/admin" method="POST" id="adminEventForm">
                <div>
                    <label for="eventTitleInput">Event Name</label>
                    <input id="eventTitleInput" type="text">
                </div>
                <div>
                    <label for="dateInput">Date</label>
                    <input id="dateInput" type="date">
                </div>
                <div>
                    <label for="startTimeInput">Start Time</label>
                    <input id="startTimeInput" type="time">
                </div>
                <div>
                    <label for="endTimeInput">End Time</label>
                    <input id="endTimeInput" type="time">
                </div>
                <div>
                    <label for="location">Location</label>
                    <input id="location" type="text">
                </div>
                <div>
                    <label for="descriptionInput">Description</label>
                    <input id="descriptionInput" type="textarea">
                </div>
                <input class="submitButton" type="submit">
            </form>
        </div>
        <div id="adminEventDiv">

        </div>
    </div>

</body>

</html>