<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin Events</title>
    <link href='/style.css' rel='stylesheet' type='text/css' />
    <link href='/admin.css' rel='stylesheet' type='text/css' />
</head>

<body>
    {{> adminNav}}
    <div id="adminEventDeletePopupDiv">
        <h2>Are you sure you want to delete the following event?</h2>
        <p><Strong>Title:   </Strong><span id="deletePopupTitle"></span></p>
        <p><Strong>Date:    </Strong><span id="deletePopupDate"></span></p>
        <p><Strong>Start Time:   </Strong><span id="deletePopupStartTime"></span></p>
        <p><Strong>End Time:   </Strong><span id="deletePopupEndTime"></span></p>
        <p><Strong>Campus:   </Strong><span id="deletePopupCampus"></span></p>
        <p><Strong>Location:   </Strong><span id="deletePopupLocation"></span></p>
        <p><Strong>Points:   </Strong><span id="deletePopupPoints"></span></p>
        <p><Strong>Description:   </Strong><span id="deletePopupDesc"></span></p>
        <p><Strong>Featured:   </Strong><span id="deletePopupFeatured"></span></p>
        <button class="deletePopupBtn" onclick="deleteConfirmed()">Yes</button>
        <button class="deletePopupBtn" onclick="closePopup()">No</button>
        <button id="deletePopupCloseBtn" onclick="closePopup()">X</button>
    </div>
    <div id="contentDiv">
        <div id="adminEventContentDiv">
            <div id="formDivWrap">
                <div id="formDiv">
                    <h2 id="inputH2">New Event<br><br></h2>
                    <form action="/admin" enctype="application/json" method="POST" id="adminEventForm">
                        <input id="isEdit" style="display:none" name="isEdit" type="text" value="false">
                        <div class="adminEventFormDiv">
                            <label class="floatLabel" for="eventIdInput">ID </label>
                            <input class="fieldInput" name="eventIdInput" id="eventIdInput" type="text" value="" required>
                        </div>
                        <div class="adminEventFormDiv">
                            <label class="floatLabel" for="eventTitleInput">Event Name</label>
                            <input class="fieldInput" name="eventTitleInput" id="eventTitleInput" type="text" value="" required>
                        </div>
                        <div class="adminEventFormDiv">
                            <label class="floatLabel" for="dateInput">Date</label>
                            <input class="fieldInput" name="dateInput" id="dateInput" type="date" value="" required>
                        </div>
                        <div class="adminEventFormDiv">
                            <label class="floatLabel" for="startTimeInput">Start Time</label>
                            <input class="fieldInput" name="startTimeInput" id="startTimeInput" type="time" value="" required>
                        </div>
                        <div class="adminEventFormDiv">
                            <label class="floatLabel" for="endTimeInput">End Time</label>
                            <input class="fieldInput" name="endTimeInput" id="endTimeInput" type="time" value="" required>
                        </div>
                        <div class="adminEventFormDiv">
                            <label class="floatLabel" for="campusInput">Campus</label>
                            <select id="campusInput" name="campusInput" class="fieldInput">
                                <option value="" disabled selected>Select Campus</option>
                                <option value="Burnaby">Burnaby</option>
                                <option value="Downtown">Downtown</option>
                                <option value="Richmond">Richmond</option>
                            </select>
                        </div>
                        <div class="adminEventFormDiv">
                            <label class="floatLabel" for="location">Location</label>
                            <input class="fieldInput" name="locationInput" id="location" type="text" value="" required>
                        </div>
                        <div class="adminEventFormDiv">
                            <label class="floatLabel" for="pointsInput">Points</label>
                            <input class="fieldInput" name="pointsInput" min=0 max=3000 id="pointsInput" type="number" value="" required>
                        </div>
                        <div class="adminEventFormDiv">
                            <label class="floatLabel" for="descriptionInput">Description</label>
                            <input class="fieldInput" name="descInput" id="descriptionInput" rows=5 type="textarea" value="" required>
                        </div>
                        <div class="adminEventFormDiv">
                            <label class="floatLabel" for="isFeaturedInput">Featured</label>
                           <select id="isFeatured" name="isFeaturedInput" class="fieldInput" >
                                <option value=0 selected>No</option>
                                <option value=1>Yes</option>
                            </select>
                        </div>

                        <br><input class="submitButton" type="submit">
                    </form>
                </div>
            </div>
            <div id="adminEventDiv">
                <h2>Current Events<br><br></h2>
                    {{ errorMessage }}
                <table id="adminEventtb">
                    {{{renderedAdminEvents}}}
                </table>
            </div>
        </div>
    </div>
    <script src="/adminEvents.js"></script>

</body>

</html>