<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Events Page</title>
    {{> styles}}
</head>

<body>
    {{> navigation}}

    <div id="contentDiv">
       {{!-- <h1>events page</h1> --}}
    <div id="topBar" style="position: absolute; width: 100vw; height: 10vh">
       <button id="blockView" class="viewButtons" style="position: absolute; left: 10vw; top: 3vh" onclick="location.href='/events'">Block View</button>
       <button id="calendarView" class="viewButtons" style="position: absolute; left: 16vw; top: 3vh" onclick="location.href='/events/calendar'">Calendar View</button>

        <form action="">
            <input type="text" id="searchWord" placeholder="Search here" style="position: absolute; left: 42%; top: 3vh"><br>
            <input type="submit" value="Submit" id="searchButton" style="position: absolute; left: 53%; top: 3vh">
        </form>

    </div>

    <div id="calendar" style="position: fixed; width: 100vw; height: 72vh; top: 28vh; left: 0px; justify-content: center; display: flex">
        <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=eou7m0rdvt8b69jgauk36mn34k%40group.calendar.google.com&amp;color=%2342104A&amp;ctz=America%2FVancouver" style="border-width:0" width="800" height="540" frameborder="0" scrolling="no"></iframe>
    </div>


    </div>

</body>

</html>