<!DOCTYPE html>
<html lang="en">

<head>

    <script src='../public/change_events_view.js'></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Events Page</title>
    <link href='style.css' rel='stylesheet' type='text/css'/>
    <link href='events.css' rel='stylesheet' type='text/css'/>

    <style>
        @media screen and (max-width: 800px) {
            .blocks {
                width: 90%;
            }
            #navDiv{
                position: fixed;
                flex-direction: column;
                width: 100%;
                top: 12vh;
                left: 0px;
                height: 22vh;
                background-color: #003E6B;
                align-items: center;
            }
            #contentDiv {
                top: 36vh;
            }
            #navDiv input {
                margin: 8px;
            }
            #searchdiv{
                top: 8vh;
                left: -5vw;
            }
            #topBar{
                left: -5vw;
            }

        }
        </style>
</head>

<body>
    {{> navigation}}

    <div id="contentDiv">

        <div id="topBar" style="position: absolute; width: 100vw; height: 10vh; top: 2vh; display: inline-block">
        <button id="blockView" class="viewButtons" style="position: relative; left: 10vw; top: 3vh; margin: 0;" onclick="location.href='/events'">Block View</button>
        <button id="calendarView" class="viewButtons" style="position: relative; left: 10vw; top: 3vh; margin: 0;" onclick="location.href='/calendar'">Calendar View</button>

        <form action="/events", method="POST" id="searchdiv" style="position: absolute; width: 100vw; height: 10vh; display: inline-block">
            <select name="searchType" class="inputbox" style="position: relative; left: 15vw; top: 3vh; margin: 0;">
                <option value="" disabled selected>Search By</option>
                <option value="title">Title</option>
                <option value="campus">Campus</option>
            </select>
            <input class="longinputbox" type="text" name="searchTerm" id="searchWord" placeholder="Search here" style="position: relative; left: 15vw; top: 3vh; margin: 0;"/>


            <select name="sortBy" class="inputbox" style="position: relative; left: 15vw; top: 3vh; margin: 0;">
                <option value="" disabled selected>Sort By</option>
                <option value="datetime">Date and time</option>
                <option value="point">Point</option>
                <option value="campus">Campus</option>
            </select>


            <input type="submit" value="Search" class="submitButton" id="searchButton" style="position: relative; left: 15vw; top: 3vh; margin: 0;"/>


        </form>

        </div>

        <div id="blocks">
            {{{ renderedEvents }}}
        </div>

    </div>

</body>

<script>
    const sendJoin = (id) => {
        var xhr = new XMLHttpRequest();
        xhr.open("POST", 'http://localhost:3000/events/join', true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(JSON.stringify({
            value: id
        }));
    }
    
</script>

</html>