<!DOCTYPE html>
<html lang="en">

<head>

    <script src='../public/change_events_view.js'></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Events Page</title>
    <link href='style.css' rel='stylesheet' type='text/css'/>
</head>

<body>
    {{> navigation}}

    <div id="contentDiv">
       {{!-- <h1>events page</h1> --}}

    <div id="topBar" style="position: absolute; width: 100vw; height: 10vh; display: inline-block">
       <button id="blockView" class="viewButtons" style="position: relative; left: 10vw; top: 3vh; margin: 0;" onclick="location.href='/events'">Block View</button>
       <button id="calendarView" class="viewButtons" style="position: relative; left: 10vw; top: 3vh; margin: 0;" onclick="location.href='/calendar'">Calendar View</button>

        <form action="/events", method="POST">
            <div class="searchbox">
                <input type="text" class="inputboxlong" name="searchTerm" id="searchWord" placeholder="Search here">
                <input type="submit" value="Search" id="searchButton" class="submitButton">
            </div>
        </form>

    </div>

    <div id="blocks">
        {{{ renderedEvents }}}
    </div>

    </div>

</body>

</html>