<!DOCTYPE html>
<html lang="en">

<head>

    <script src='../public/change_events_view.js'></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Events Page</title>
    <link href='style.css' rel='stylesheet' type='text/css'/>
</head>

<body>
    {{> navigation}}

    <div id="contentDiv">
       {{!-- <h1>events page</h1> --}}
    <div id="topBar" style="position: absolute; width: 100vw; height: 10vh">
       <button id="blockView" class="viewButtons" style="position: absolute; left: 10vw; top: 3vh" onclick="location.href='/events'">Block View</button>
       <button id="calendarView" class="viewButtons" style="position: absolute; left: 16vw; top: 3vh" onclick="location.href='/calendar'">Calendar View</button>

        <form action="">
            <input type="text" id="searchWord" placeholder="Search here" style="position: absolute; left: 42%; top: 3vh"><br>
            <input type="submit" value="Submit" id="searchButton" style="position: absolute; left: 53%; top: 3vh">
        </form>

    </div>

    <div id="blocks" style="position: fixed; width: 100vw; height: 72vh; top: 28vh; left: 0px">
        <div id="block1" class="blocks" style="position: fixed; width: 25%; height: 45%; background-color: grey; left: 6.25%"></div>
        <div id="block2" class="blocks" style="position: fixed; width: 25%; height: 45%; background-color: grey; left: 38%"></div>
        <div id="block3" class="blocks" style="position: fixed; width: 25%; height: 45%; background-color: grey; left: 69.25%"></div>


    </div>

    </div>

</body>

</html>