<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kick Start Login</title>
    <link href='style.css' rel='stylesheet' type='text/css'/>
</head>

<body>
    <header id="loginHeader">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ4RmvrxyMD6HzL1VaLEeFFPWsgYSCjhp1nSbYfspJk8AGiHctN"
            alt="BCIT Student Life Logo" id="logo">
        <h1>Kick Start</h1>
    </header>
    <div id="contentDiv">

        <div id="loginDiv">
            <h2>Sign In</h2>
            <form id="loginForm" class="" enctype="application/json" action="/login" method="post">
                <div class="">
                    <label class="" for="loginName">BCIT ID</label>
                    <input id="loginName" class="" name="loginName" type="text" placeholder="Username" value="" />
                </div>
                <div class="">
                    <label class="" for="loginPw">Password</label>
                    <input id="loginPw" class="" name="loginPw" type="password" placeholder="Password" value="" />
                </div>
                <div class="">
                    <input class="" id="login_button" type="submit" value="Login" />
                </div>
            </form>
        </div>
    </div>

</body>

</html>