<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kick Start Login</title>
    <link href='login.css' rel='stylesheet' type='text/css'/>
</head>

<body>
    <form id="loginForm" class="box" enctype="application/json" action="/login" method="post">
        <img src="/logo/logo1.png" alt="Student Association logo" id="salogo" style="margin-left: 7px; height:55px;"/>

        <h1>Sign In</h1>
        <input id="loginName" class="" name="loginName" type="text" placeholder=" Username" value="" />
        <input id="loginPw" class="" name="loginPw" type="password" placeholder=" Password" value="" />
        <input class="" id="login_button" type="submit" value="Login" />
    </form>
    <p style="color:red; font-weight:bold">{{ errMsg }}</p>
</body>

</html>