<!DOCTYPE html>
<html lang="en">

	<head>
	    <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	    <title>Rewards Page</title>
	    {{> styles}}
	</head>

	<body>
	    {{> navigation}}

	    <div id="contentDiv">
	    	<div>
		        <h1>Rewards page</h1>
		        <b>Redeem your points here</b><input type="text" name="redeem"><button>Submit</button><br>
                <b>Current Points: 888</b>
	    	</div>
	        <div style="width:60%; float:left;">
	        	<div>
                    <h2>Completed</h2>
                    <div style="width:49%; float:left; border-style: ridge;">Visit Student Life Office</div>
                    <div style="width:49%; float:right; border-style: ridge;">10</div>
                    <div style="width:49%; float:left; border-style: ridge;">Visit EhPods</div>
                    <div style="width:49%; float:right; border-style: ridge;">5</div>
                    <div style="width:49%; float:left; border-style: ridge;">Visit Student Information &amp; Enrollment Services</div>
                    <div style="width:49%; float:right; border-style: ridge;">5</div>
                    <div style="width:49%; float:left; border-style: ridge;">Visit Student Association Office</div>
                    <div style="width:49%; float:right; border-style: ridge;">10</div>
                </div>
	        	<div>
                    <h2>To Complete</h2>
                    <div style="width:49%; float:left; border-style: ridge;">Visit Student Health Office</div>
                    <div style="width:49%; float:right; border-style: ridge;">5</div>
                    <div style="width:49%; float:left; border-style: ridge;">Visit Tim Hortons</div>
                    <div style="width:49%; float:right; border-style: ridge;">5</div>
                    <div style="width:49%; float:left; border-style: ridge;">Visit International Office</div>
                    <div style="width:49%; float:right; border-style: ridge;">5</div>
                </div>
	        </div>
	        <div style="width:40%; float:right;">
	        	<h2>Rewards</h2>
                <div style="width:48%; float:left; border-style: ridge;">1-month Parking Pass (Enter Draw)</div>
                <div style="width:48%; float:right; border-style: ridge;">500</div>
                <div style="width:48%; float:left; border-style: ridge;">Free Coffee Voucher</div>
                <div style="width:48%; float:right; border-style: ridge;">20</div>
                <div style="width:48%; float:left; border-style: ridge;">$50 credit at bookstore (Enter Draw)</div>
                <div style="width:48%; float:right; border-style: ridge;">400</div>
                <div style="width:48%; float:left; border-style: ridge;">$10 credit for printing</div>
                <div style="width:48%; float:right; border-style: ridge;">100</div>
                <div style="width:48%; float:left; border-style: ridge;">BCIT Swag Bag</div>
                <div style="width:48%; float:right; border-style: ridge;">50</div>
                <div style="width:48%; float:left; border-style: ridge;">1-term BCIT Recreation Membership</div>
                <div style="width:48%; float:right; border-style: ridge;">300</div>
                <div style="width:48%; float:left; border-style: ridge;">$30 credit at BCIT SA Geared Up Store</div>
                <div style="width:48%; float:right; border-style: ridge;">10</div>
                <div style="width:48%; float:left; border-style: ridge;">Free Official Transcript</div>
                <div style="width:48%; float:right; border-style: ridge;">80</div>
	        </div>
	    </div>
	    <footer>
	    	<div style="float:left; width:50%; text-align: right;"><p style="padding-right: 5px">Contact Us</p></div>
	    	<div style="float:right; width:50%; text-align: left;"><p style="padding-left: 5px">Privacy</p></div>
	    </footer>
	</body>

</html>