<!DOCTYPE html>
<html lang="en">

	<head>
	    <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	    <title>Rewards Page</title>
	    <link href='style.css' rel='stylesheet' type='text/css'/>
        <link href='rewards.css' rel='stylesheet' type='text/css'/>
	</head>

	<body>
	    {{> navigation}}

	    <div id="contentDiv">
          <div id="redeempointsbox">
              <div id="pointsbox" style="font-size: 25px">
                  Current Points: <b>{{userPoints}}</b>
              </div>
          </div>
            
	        <div id="rewardsleft">
            <h2>History</h2>
            <table id="historytb">
              <tr>
                <td>Coffee Giftcard $5</td>
                <td>500</td>
                <td>2019-08-23</td>
              </tr>
              <tr>
                <td>Free Daily Parking</td>
                <td>1000</td>
                <td>2019-08-17</td>
              </tr>
              <tr>
                <td>Tuition Voucher $150</td>
                <td>12000</td>
                <td>2019-08-13</td>
              </tr>
            </table>
	        </div>

	        <div id="rewardsright">
	        	<h2>Rewards</h2>

                <table id="rewardstb">
                  {{{ renderedRewards }}}
                </table>
	        </div>
	    </div>
	    <footer>
	    	<div style="float:left; width:50%; text-align: right;"><p style="padding-right: 5px">Contact Us</p></div>
	    	<div style="float:right; width:50%; text-align: left;"><p style="padding-left: 5px">Privacy</p></div>
	    </footer>
	</body>

</html>